$heavy-border: round $primary;

#input_box {
    dock: bottom;
    height: auto;
    width: 100%;
    margin: 0 0 4 0;
    align_horizontal: center;
}

#message_input {
    width: 50%;
    background: #343a40;
}

#send_button {
    width: auto;
}

#response_output {
    dock: left;
    align_horizontal: center;
    border: $heavy-border;
    margin: 2;
}

#chat_container {
    dock: left;
    margin: 2;
    max-height: 70%;
}

.hidden {
    display: none;
}

.user-message {
    background: $primary;
    color: $text;
    padding: 1;
    margin: 1;
    align: right middle;
    border: tall transparent;
    width: auto;
}

.llm-message {
    background: $surface;
    color: $text;
    padding: 1;
    margin: 1;
    border: tall transparent;
    width: auto;
    align: left middle;
}
